*{
	margin:0px; padding:0px;
}

.main-head{
	margin:0px; padding:0px;
	display: grid;
	grid-template-columns: 10% 80% 10%;
}

.grid-main-prop{
	margin:0px; padding:0px;
	background-color: black;
	height: 60px;
}

#header-mid-section{
	margin:0px; padding:0px;
	display:grid;
	grid-template-columns: repeat(5,1fr);
	color:white;
}

#this-page-header{
	margin:0px; padding:0px;
	display: grid;
	grid-template-rows: 55px 5px;
}

.header-elements{
	margin:0px; padding:0px;
	text-align:center;
	padding-top:20px;
}

.head-element{
	margin:0px; padding:0px;
	color:white; 
	text-decoration:none;
}

a:hover.head-element{
	margin:0px; padding:0px;
	color:#55cfae;
}

#language{
	margin-top:15px;
	padding-top:15px;
	padding-left:5px;
}

.right-icons{
	float: right; 
	height:30px;
	width:30px;
	padding-top:15px;
	padding-right:30px;
}