header{font-family:'Voces';}

.main-head{
	margin:0px; padding:0px;
	display: grid;
	grid-template-columns: 10% 80% 10%;
}

.grid-main-prop{
	margin:0px; padding:0px;
	background-color: black;
	height: 60px;
}

#header-mid-section{
	margin:0px; padding:0px;
	display:grid;
	grid-template-columns: repeat(5,1fr);
	color:white;
}

#this-page-header{
	margin:0px; padding:0px;
	display: grid;
	grid-template-rows: 55px 5px;
}

.back:hover{ background-color:#1A1110; }

.header-elements{
	margin:0px; padding:0px;
	text-align:center;
	padding-top:20px;
}

.head-element{
	margin:0px; padding:0px;
	color:white; 
	text-decoration:none;
}

a:hover.head-element{
	margin:0px; padding:0px;
	color:#55cfae;
}

.language{
	height:40px;
	width:70px;
    background-color:lightgrey;
}

option.language{
}

.dropdown { position:relative; }
.dropdown:hover{ background-color:#1A1110; }

.dropdown-content{
	display:none;
	margin-top:17px;
	position:absolute;
}

.dropdown-content a{
	display:block;
	height:40px;
	width:243px;
	background-color:black;
	color:white;
	text-decoration:none;
	text-align:center;
	padding-top:20px;
	z-index:10;
}

.dropdown:hover .dropdown-content {	display:block; }

.dropdown-content a:hover{
	color:#55cfae;
	background-color:#1A1110;
}

.right-icons{
	float: right; 
	height:30px;
	width:30px;
	padding-top:15px;
	padding-right:30px;
}
